/* Sophie's Weather App Heading */
.Col-1 {
  background: #0053c0;
  text-align: center;
  border-radius: 30px;
  max-width: 600px;
  display: block;
  margin: auto;
  margin-top: 25px;
  padding: 35px;
  color: white;
  margin-right: center;
}

/* City Heading */
.city {
  font-size: 44px;
}

/* Icon next to City Heading */
.icon-style img {
  float: center;
}

/* Open-Source Code by Sophie Maher */
footer {
  text-align: center;
}

/* Current Location wording in location button */
.location {
  background-color: #0053c0;
  color: white;
}

/* Please enter your City 🔎 button */
input[type="text"] {
  background-color: #0053c0;
  border-radius: 30px;
  border: 2pt solid #0053c0;
  margin: 5px;
  text-align: center;
  color: white;
}

/* Search button */
input[type="submit"] {
  background-color: #0053c0;
  border: 2pt solid #0053c0;
  margin: 5px;
  text-align: center;
  color: white;
}

/* Please enter your City 🔎 text colour in button */
::placeholder {
  color: white;
}

.Container {
}

/* The 5 x bootstrap card */
.card-body {
  text-align: center;
  border: 3pt solid #0053c0;
  border-radius: 17px;
  margin: 0 auto;
  padding: 15px;
  background: white;
  width: 8rem;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-right: center;
}

/* 5 x forecast cards alligned in container */
.card-deck {
  margin: -6rem;
  padding: 22px;
}

.Signature {
}

/* Background of web page */
body {
  background: radial-gradient(circle, rgb(66, 217, 219), rgb(255, 228, 174));
  font-family: Montserrat;
}

.card-body-1 {
  text-align: center;
  border-radius: 10px;
  border: 3pt solid #0053c0;
  padding: 90px;
  max-width: 800px;
  background: radial-gradient(ellipse at top, #ffe4ae, transparent),
    radial-gradient(ellipse at bottom, #42d9db, transparent);
  margin: 0 auto;
}

.card {
  display: block;
  margin: auto;
  border-style: none;
  background: none;
  padding: 80px;
  margin-right: center;
}

.h2 {
  text-align: right;
}

.card-title {
  font-size: 15px;
}

.icon {
  color: rgb(248, 221, 147);
}
