<<<<<<< HEAD
.Col-1 {
  background: #0053c0;
  text-align: center;
  border-radius: 30px;
  max-width: 600px;
  display: block;
  margin: auto;
  margin-top: 25px;
  padding: 35px;
  color: white;
}
.city {
  font-size: 44px;
}

.icon-style img {
  float: center;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

footer {
  text-align: center;
}

.temp {
  font-size: 24px;
}

.temperature-amount {
  font-size: 34px;
}

input[type="text"] {
  background-color: #0053c0;
  border-radius: 30px;
  border: 2pt solid #0053c0;
  margin: 5px;
  text-align: center;
  color: white;
}

input[type="submit"] {
  background-color: #0053c0;
  border: 2pt solid #0053c0;
  margin: 5px;
  text-align: center;
  color: white;
}

::placeholder {
  color: white;
}

.card-body {
  text-align: center;
  border-radius: 20px;
  border: 2pt solid #0053c0;
  border-radius: 17px;
  margin: 0 auto;
  padding: 9px;
  background: white;
  margin-top: 2px;
  width: 8rem;
}

.card-deck {
  margin: -5rem;
}

body {
  background: radial-gradient(circle, rgb(66, 217, 219), rgb(255, 228, 174));
  font-family: Montserrat;
}

.text-center {
  margin-top: 3px;
}

.card-body-1 {
  text-align: center;
  border-radius: 20px;
  border: 2pt solid #0053c0;
  border-radius: 5px;
  padding: 90px;
  background: radial-gradient(ellipse at top, #ffe4ae, transparent),
    radial-gradient(ellipse at bottom, #42d9db, transparent);
}

.row-no-gutters {
  text-align: center;
  border-radius: 15px;
  border: 2pt solid #ababfd;
  border-radius: 4px;
}

.card {
  display: block;
  margin: 0 auto;
  border-style: none;
  background: none;
}

.h2 {
  text-align: center;
}

.col-md-8 {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.card-title {
  font-size: 15px;
}

.icon {
  color: rgb(248, 221, 147);
}
=======
.Col-1 {
  background: #0053c0;
  text-align: center;
  border-radius: 30px;
  max-width: 600px;
  display: block;
  margin: auto;
  margin-top: 25px;
  padding: 35px;
  color: white;
}
.city {
  font-size: 44px;
}

.icon-style img {
  float: center;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

footer {
  text-align: center;
}

.temp {
  font-size: 24px;
}

.temperature-amount {
  font-size: 34px;
}

input[type="text"] {
  background-color: #0053c0;
  border-radius: 30px;
  border: 2pt solid #0053c0;
  margin: 5px;
  text-align: center;
  color: white;
}

input[type="submit"] {
  background-color: #0053c0;
  border: 2pt solid #0053c0;
  margin: 5px;
  text-align: center;
  color: white;
}

::placeholder {
  color: white;
}

.card-body {
  text-align: center;
  border-radius: 20px;
  border: 2pt solid #0053c0;
  border-radius: 17px;
  margin: 0 auto;
  padding: 9px;
  background: white;
  margin-top: 2px;
  width: 8rem;
}

.card-deck {
  margin: -5rem;
}

body {
  background: radial-gradient(circle, rgb(66, 217, 219), rgb(255, 228, 174));
  font-family: Montserrat;
}

.text-center {
  margin-top: 3px;
}

.card-body-1 {
  text-align: center;
  border-radius: 20px;
  border: 2pt solid #0053c0;
  border-radius: 5px;
  padding: 90px;
  background: radial-gradient(ellipse at top, #ffe4ae, transparent),
    radial-gradient(ellipse at bottom, #42d9db, transparent);
}

.row-no-gutters {
  text-align: center;
  border-radius: 15px;
  border: 2pt solid #ababfd;
  border-radius: 4px;
}

.card {
  display: block;
  margin: 0 auto;
  border-style: none;
  background: none;
}

.h2 {
  text-align: center;
}

.col-md-8 {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.card-title {
  font-size: 15px;
}

.icon {
  color: rgb(248, 221, 147);
}
>>>>>>> 74354f3398e87815edd03e42ee98ea4710207c85
